.main {
    position: relative;
    background: url(../img/declaration.jpg) no-repeat center top;
    background-size: cover;
    min-height: 700px;
    width: 100vw;
    &Content {
        position: relative;
        right: 0;
        top: 28vh;
    }
    &Img {
        margin-bottom: 37px;
    }
    &Title {
        max-width: 980px;
        width: 100%;
        margin-right: 35px;
    }
    &Btn {
        background: #2D4F9C;
        border-radius: 20px 0px 10px;
        max-width: 300px;
        width: 100%;
        border: none;
        padding: 14px 0;
        font-family: 'FontAwesome', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
    }
}
.container {
    max-width: 1198px;
}
.services {
    padding: 74px 15px 102px;
    &Content {
        display: flex;
        max-width: 1048px;
        margin: 74px auto 0;
        justify-content: space-between;
    }
    &Item {
        position: relative;
        width: 220px;
        height: 200px;
        box-shadow: 0px 3px 6px #2D4F9C;
        &:nth-child(odd) {
            border-radius: 0px 0px 50px 0px;
        }
        &:nth-child(even) {
            border-radius: 0px 0px 0px 50px;
        }
    }
    &Text {
        position: absolute;
        top: 33px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #2D4F9C;
        text-transform: uppercase;
        width: min-content;
    }
}
.title {
    text-align: left;
    padding-left: 14px;
}
.servicesItem:nth-child(odd)>.servicesText {
    left: 16px;
    text-align: start;
}
.servicesItem:nth-child(even)>.servicesText {
    right: 16px;
    text-align: end;
}
.action {
    &Block {
        position: relative;
    }
    &Title {
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-transform: uppercase;
        position: absolute;
        bottom: 13%;
        padding: 0 11%;
    }
}