@import 'reset-css';
@import 'fonts';

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #000000;
	overflow-x: hidden;
	min-width: 250px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	align-items: center;
	justify-content: space-between;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
	max-width: 1358px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #2D4F9C;
    text-transform: uppercase;
}

.wrapperBlock {
    max-width: 505px;
    width: 100%;
    &:not(:last-child) {
		margin-bottom: 37px;
	}
}
.titleMain {
	text-align: center;
	font-weight: 900;
    font-size: 52px;
    line-height: 59px;
    color: #2D4F9C;
    -webkit-text-stroke: 1.5px #FFFFFF;
}
.slick-active {
	width: calc(100% + 50px);
}
.slick-list {
	max-width: 1150px !important;
	width: 100% !important;
	margin: 0 auto;
	margin-left: -30px;
    margin-right: -30px;
}
.slick-track {
	display: flex !important;
}
.slick-arrow {
	width: 60px !important;
	height: 60px !important;
	background: rgba(255, 255, 255, 0.5) !important;
	border: 1px solid #2D4F9C !important;
	z-index: 5;
}
.slick-slider {
	padding: 0 45px;
}
.slick-prev {
	left: 0 !important;
}
.slick-next {
	right: 0 !important;
}
.slick-slide {
	margin: 0 30px;
}