@import 'reset-css';
@import 'fonts';

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #000000;
	overflow-x: hidden;
	min-width: 250px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100%;
	align-items: center;
	justify-content: space-between;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
	max-width: 1358px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #2D4F9C;
    text-transform: uppercase;
}

.wrapperBlock {
    max-width: 505px;
    width: 100%;
    &:not(:last-child) {
		margin-bottom: 37px;
	}
}
.titleMain {
	text-align: center;
	font-weight: 900;
    font-size: 52px;
    line-height: 59px;
    color: #2D4F9C;
    -webkit-text-stroke: 1.5px #FFFFFF;
}