.container {
    padding: 64px 15px 33px;
    max-width: 1108px;
    width: 100%;
}
.wrappers {
    align-items: flex-start;
    margin-bottom: 19px;
}
.title {
    margin-bottom: 40px;
    text-align: left;
}
.subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #52A958;
    margin-bottom: 89px;
    padding-left: 70px;
}
.all > .subtitle {
    margin-bottom: 97px;
}
.all {
    max-width: 400px;
    width: 100%;
    margin-bottom: 52px;
}
.main {
    max-width: 640px;
    width: 100%;
    margin-right: 15px;
}
.info {
    max-width: 285px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 54px;
}
.section {
    color: #52A958;
}
.date {
    color: #000000;
}
.desc {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
}
.imgBlock {
    margin-bottom: 30px;
    mix-blend-mode: normal;
    opacity: 0.9;
    margin-left: -5px;
    //filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.text,
.item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.text:first-child,
.list {
    margin-bottom: 15px;
}
.smallTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2D4F9C;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.news {
    margin-bottom: 55px;
}