.container {
    padding: 64px 15px 33px;
    max-width: 1074px;
    width: 100%;
}
.wrappers {
    align-items: flex-start;
    margin-bottom: 19px;
}
.title {
    margin-bottom: 67px;
}
.subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #52A958;
    margin-bottom: 89px;
    padding-left: 70px;
}
.main > .subtitle {
    padding-left: 40px;
}
.all > .subtitle {
    margin-bottom: 97px;
}
.all {
    max-width: 540px;
    width: 100%;
}
.main {
    max-width: 450px;
    width: 100%;
}
.newsMain {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    position: relative;
}
.imgBlock {
    margin-bottom: 20px;
}
.titleMain {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2D4F9C;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    max-width: 440px;
    margin-bottom: 20px;
}
.author {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #2D4F9C;
}
.date {
    position: absolute;
    right: 16px;
    top: -14px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 9px 8px;
    border-top: 2px solid #2D4F9C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 12px;
    color: #071C4A;
}
.num {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}
.month {
    margin-bottom: 5px;
}
.year {
    line-height: 16px;
    font-weight: 400;
}