.container {
    padding: 64px 15px 83px;
    max-width: 1074px;
    width: 100%;
}
.title {
    margin-bottom: 67px;
}
.subtitle {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #52A958;
    margin-bottom: 75px;
}
.all > .subtitle {
    margin-bottom: 97px;
}